root = true

[*]
end_of_line = lf
indent_style = space

[*.{json,asmdef}]
indent_size = 2

[*.{cs,h,hpp,c,cpp,cc}]
# Basic text
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
